


@media screen and (max-width:1199px){
	.scroll_menu .navbar-nav li a{
		padding-right:3px;
	}
	.navbar-nav li a{ padding: 15px 40px 15px 30px;}
	.button-dot a{ margin:15px 10px 0px 0; font-size:12px; padding:0 13px 0 39px;}
h1{ font-size:24px;}
	.working_progress .item .left, .working_progress .item .right{
		width:34%;
	}
	.working_progress .item .center{
		width:32%;
	}
	.working_progress .row{
		height:200px;
		clear:both;
	}
	
	.working_progress .item.md_margin_top_0{
		margin-top:0 !important;
	}
	
	.dropdown-menu-large{
		width:390px !important;
	}
}



@media screen and (max-width:991px){
.clients_logos img{height: 67px;}
ul.list-new{ padding:10px 0 55px 2px; display:none;}
.cont-top{ padding-bottom:0;}
.xxxx,.yyyyy{ padding:0 14px 0 14px;}
.submit_button{ margin-bottom:14px;}
.left-space0{ padding-left:14px;}
.social-part{ padding-right:14px;}
.left-space0 p{ font-size:12px;}
.navbar-nav > li > a{ padding: 15px 20px 15px 20px ;}
.header{ padding-top:15px;}
h1{ font-size:19px;}
.part-three h1{ margin-bottom:0px; }
.part-three p{ text-align:left;}
#midd-space-btm{ padding:50px 0; }
.cont-bottom{ padding-bottom:0;}
.small-slid{ padding-top:40px;}
.carousel-inner{ padding-bottom:74px; }
.num-mb{ margin-top:25px;}
.carousel-indicators {bottom: 60px;}
.ourClients h1.dark{ margin-top:50px;}
.contentBottom{ padding-bottom:35px;}
.submit_button{ margin-bottom:50px;}
.dot-sm-12 .part-three h1 img{ width:38px; height:auto;}


	.working_progress .row{
		margin-bottom:-50px;
	}
	.working_progress .item .left, .working_progress .item .right{
		width:26%;
	}
	.working_progress .item .center{
		width:48%;
	}
	.navbar-nav > li > a{
		padding:15px 16px;
	}
	.scroll_menu .navbar-default .navbar-nav > li.hom-icon > a{
		margin-left:0;
		margin-right:0;
	}
	.scroll_menu .navbar-nav li a, .scroll_menu .navbar-nav li a.last_child{
		padding: 15px 3px 30px 15px;
		font-size:12px;
	}
}


@media screen and (max-width:767px){

body{ background:#fff;}
.navbar-toggle.collapsed{transform:rotate(00deg);}
.navbar-toggle{transform:rotate(-90deg);transition:all .3s;}
.ipad-logo{ width:50%;}
.navbar-default .navbar-toggle .icon-bar {background-color: #fff;}

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle{background-color:#126b98;}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{background-color:#126b98;}
.navbar-toggle {padding: 8px 6px;}
.navbar-toggle {border:  none;border-radius:0;}


.left-space0,.social-part{ width:100%; text-align:center; float:none;}
.footer-bottom p{ text-align:center; margin-bottom:15px;}
.social-part{overflow:hidden; width:250px; margin:0 auto;}

h1{font-size:22px;}
h1 img{width:30px;}
.part-three h1{margin-bottom:0}

.footer-top h1.h1-footer img{width:20px; margin-right:5px;}

ul.list-new li{line-height:21px; margin-bottom: 10px;background-position:left 5px;}

.cont-bottom{padding-bottom:0px;}
h1.cloud img{ margin-bottom:30px;float:left;}
.small-slid h1.cloud img{margin:0 5px 0 0;}
h1.cloud font{ width:calc(100% - 35px);float:left;}

h1.cloud_app span{display:inline;margin-right:0;}
h1.cloud_app img{ margin-bottom:30px;float:left;margin:0 5px 0 0;} 
h1.cloud_app font{ width:calc(100% - 35px);float:left;}




.navbar-default .navbar-toggle .icon-bar { width:21px; background:#126b98; margin-bottom:5px;border-radius: 0px; }
.navbar-default .navbar-toggle, .navbar-default .navbar-toggle ,.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{ background:none;}
.navbar{ min-height:0;}
.num-mb { margin-top:40px;} .header{  padding-bottom:20px;}
.navbar-nav li.hom-icon a{ margin:14px 35px 0 32px;}
.navbar-nav {margin: 0 0px;}
.nav > li{ border-bottom:1px solid #eee;}
.nav > li.hom-icon{ padding-bottom:15px;}
.navbar-nav li ul.dropdown-menu li{ min-height:0; padding:10px 15px !important ;}

.dot-sm-12{ width:100%; float:none;}
.dot-sm-12 .part-three{ float:none;}
.dot-sm-12 .part-three h1 span{ display:block; width:100%; height:79px; text-align:center;}
h1.cloud_app img{ float:none;}
.dot-sm-12 .part-three h1 img{ display:block; width:70px; height:auto; margin:0 auto;}
.dot-sm-12 .part-three h1{ text-align:center; min-height:114px; font-size:28px; padding:12px 0 0px 0;}
.dot-sm-12 .part-three p{ text-align:center; padding-bottom:34px; width:100%; padding-top:10px;}
#midd-space-btm{ padding:0px;}
.carousel-inner{ padding-bottom:55px;}

section.scroll_menu{
	display:none !important;
}
header.header, .scroll_menu{
	padding-top:20px;
	padding-bottom:20px;
}
.header .social_icon{
	display:none;
}
header a .img-responsive{
	display:table;
	margin:auto;
}
header .num-mb{
	margin-top:20px;
	padding:0px 0px 0px 5px;
	width:100%;
	background-image:none;
	text-align:left;
}
header .num-mb::before{
	content:url('../images/ico-mobile.jpg');
	vertical-align:middle;
	margin-right:5px;
}
.nav-phon-butn{
	margin:-52px 0 10px 0;
	}
.scroll_menu .nav-phon-butn{
	margin:-45px 0 10px 0;
	}
.some_work .portfolio .item img{
		width:auto;
		display:table;
		margin:auto;
	}
.scroll_menu .navbar-default .navbar-nav > li.hom-icon > a, .navbar-default .navbar-nav > li.hom-icon > a{
	padding-left:35px;
}
.working_progress .item h3{
	font-size:22px;
}
.navbar-nav li a.last_child{
	padding-left:20px;
}

	
	.fx.animated{
		animation-delay:initial !important;
		animation-duration:initial !important;
		-webkit-animation-delay:initial !important;
		-webkit-animation-duration:initial !important;
		opacity:1;
	}
	.working_progress .item .left, .working_progress .item .right, .working_progress .item .center,.working_progress .item .center.r{
		width:100%;
		text-align:center;
	}
	.working_progress .item .left p{
		float:none;
	}
	.working_progress .row{
		margin-bottom:40px;
		height:auto;
	}
	.working_progress .row::after{
		
	}
	.nda_arrow, .working_progress .item .meeting_arrow, .working_progress .item .planning_arrow,.working_progress .item .design_dev_arrow_2, .working_progress .item .design_dev_arrow,.working_progress .item .testing_arrow,.working_progress .item .meeting_icon, .working_progress .item .design_dev_icon,.launch_image{
		display:none;
	}
	.working_progress .item p{
		margin:8px auto;
	}
	.working_progress .item img{
		margin:auto;
	}
	
	
	.working_progress .nda .right,.working_progress .nda .center .nda_icon,.working_progress .nda .center .nda_arrow,.working_progress .meeting .left,.working_progress .meeting .center .meeting_icon,.working_progress .meeting .center .meeting_arrow,.working_progress .planning .right,.working_progress .planning .center .planning_icon,.working_progress .planning .center .planning_arrow,.working_progress .design_dev .left,.working_progress .design_dev .center .design_dev_icon,.working_progress .design_dev .center .design_dev_arrow,.working_progress .design_dev .center .design_dev_arrow_2,.working_progress .testing .right,.working_progress .testing .center .testing_icon,.working_progress .testing .center .testing_arrow,.working_progress .launch .left,.working_progress .launch .center .launch_image{
		transform:translate3d(0px,0px,0px);
		opacity:1;
		transition:all 0s 0s;
	}
}






@media screen and (max-width:414px){ 
	.some_work .portfolio .item img{
		/* width:100%; */
	}

 }

.num-mb{
	float:none;
	display:table;
	margin:20px auto 0;
	padding:10px 16px 10px 26px;
	background-position:10px center;
	}
.num-mb{ font-size:18px; margin:30px 0 0 0px; float:right; padding-right:0;font-weight:normal;font-family: 'Open Sans', sans-serif}
.dot-sm-12  p{ }
.dot-sm-12 .part-three h1{ }
.dot-sm-12 .part-three h1 .text{ padding-bottom:15px;}	
.carousel-inner{ padding-bottom:40px;}	
.dot-sm-12 .part-three h1 {
margin-bottom: 10px;
}
.slide-banner{ margin-bottom:30px;}

@media screen and (max-width:320px){
	
}

@media screen and (min-width:767px){
	.working_progress .item .left img, .working_progress .item .right img{
		display:none;
	}
}




